.about {
    display: flex;
    margin-top: 10rem;
    justify-content: space-between;

    @include sp {
        flex-direction: column;
        margin-top: 5rem;
    }


    &__img {
        width: 40%;
        height: auto;
        object-fit: contain;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        margin: 0;
        font-size: clamp(1rem, 1.2vw, 1.6rem);

        @include sp {
            width: 100%;
            font-size: 1.4rem;
            margin-bottom: 5rem;
        }

        &__name {
            margin: 1rem 0;
            font-size: min(2vw, 2rem);
            font-size: clamp(1.4rem, 2vw, 2.5rem);

            @include sp {
                font-size: 2rem;
            }


            span {
                display: block;
                font-size: 1.2rem;
            }
        }
    }
}